<nav th:fragment="nav" class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark" id="mainNav">
    <div class="container">
        <span class="navbar-brand">Order Management</span>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase align-items-center text-center">

                <li th:if="${role == 'SUP' or role == 'ADMIN'}" class="nav-item">
                    <a class="nav-link" href="/stats">Статистика</a>
                </li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/products">Товары</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/sups">Поставщики</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/profiles">Профили</a></li>
                <li th:if="${role == 'SUP' or role == 'MANAGER'}" class="nav-item">
                    <a class="nav-link" href="/contracts">Заказы</a></li>
                <li th:if="${role == 'SUP' or role == 'MANAGER'}" class="nav-item">
                    <a class="nav-link" href="/contracts/archive">Архив</a>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Список
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li th:if="${role == 'MANAGER'}"><a class="dropdown-item" href="/profile">Профиль</a></li>
                            <li th:if="${role == 'SUP'}"><a class="dropdown-item" href="/supProfile">Данные</a></li>
                            <li th:if="${role == 'SUP'}"><a class="dropdown-item" href="/categories">Категории</a></li>
                            <li><a class="dropdown-item" href="/about">О&nbsp;нас</a></li>
                        </ul>
                    </div>
                </li>

                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Вход</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/reg">Регистрация</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/logout">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>