<!DOCTYPE html>
<html data-bs-theme="light" lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Профили</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<div th:insert="blocks/nav :: nav"></div>

<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Профили</h2>
            </div>
        </div>
        <form th:each="i : ${users}" th:unless="${i.id == user.id}" data-aos="fade-up" method="post"
              th:action="'/profiles/edit/' + ${i.id}">
            <div class="row">
                <div class="col-1"></div>
                <div class="col text-center mb-2">
                    <input class="form-control" type="text" readonly th:value="${i.fio}">
                </div>
                <div class="col text-center mb-2">
                    <select class="form-select" name="role" required>
                        <option th:each="r : ${roles}" th:value="${r}" th:label="${r.name}"
                                th:selected="${r == i.role}"></option>
                    </select>
                </div>
                <div class="col-auto mb-2">
                    <button class="btn btn-primary w-100" type="submit">Обновить</button>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
    </div>
</section>

<footer th:insert="blocks/footer :: footer"></footer>

</body>

</html>